In [21]:
import pandas as pd
import re

In [22]:
code_dictionary = "../../../Raw Data/nsch_2018_screener_SAS/nsch_2018_screener.sas"

with open(code_dictionary, 'r') as f:
    codebook_content = f.readlines()

print("Codebook:", codebook_content[:10])

Codebook: ['/* 03052024 */\n', '*************************************************************\n', '************************************************************;\n', 'libname file "<<INSERT FILE DIRECTORY>>";\n', '*************************************************************\n', '************************************************************;\n', '\n', 'data screener;\n', '\tset file.nsch_2018e_screener;\n', '\tlabel\n']

## 2016-2023 NSCH data

In [23]:
path2016 = "../../../Raw Data/nsch_2016_screener_SAS/nsch_2016e_screener.sas7bdat"
df2016 = pd.read_sas(path2016, format="sas7bdat")

print(df2016.head())

         HHIDS  C_ENGLISH STRATUM         FWH FIPSST  TOTKIDS_R  HHLANGUAGE  \
0  b'16000001'        1.0    b'1'  521.630828  b'34'        1.0         1.0
1  b'16000002'        NaN    b'2'  610.067762  b'28'        1.0         1.0
2  b'16000003'        1.0    b'1'  657.783409  b'17'        3.0         1.0
3  b'16000003'        1.0    b'1'  657.783409  b'17'        3.0         1.0
4  b'16000003'        1.0    b'1'  657.783409  b'17'        3.0         1.0

   CBSAFP_YN  METRO_YN  MPC_YN  ...  C_K2Q19  C_K2Q20  C_K2Q21  C_K2Q22  \
0        1.0       1.0     2.0  ...      2.0      NaN      NaN      2.0
1        1.0       2.0     NaN  ...      2.0      NaN      NaN      2.0
2        1.0       1.0     2.0  ...      2.0      NaN      NaN      2.0
3        1.0       1.0     2.0  ...      2.0      NaN      NaN      2.0
4        1.0       1.0     2.0  ...      2.0      NaN      NaN      2.0

   C_K2Q23  C_CSHCN       C_FWS  c_sex_if  c_hispanic_r_if  c_race_r_if
0      NaN      2.0  492.300350       NaN              NaN          NaN
1      NaN      2.0  746.435097       NaN              NaN          NaN
2      NaN      2.0  681.136084       NaN              NaN          NaN
3      NaN      2.0  770.046205       NaN              NaN          NaN
4      NaN      2.0  670.384971       NaN              NaN          NaN

[5 rows x 38 columns]

In [24]:
path2017 = "../../../Raw Data/nsch_2017_screener_SAS/nsch_2017e_screener.sas7bdat"
df2017 = pd.read_sas(path2017, format="sas7bdat")

print(df2017.head())

  FIPSST STRATUM  TOTKIDS_R  HHLANGUAGE    YEAR  CBSAFP_YN  METRO_YN  MPC_YN  \
0  b'48'    b'1'        1.0         1.0  2017.0        1.0       1.0     1.0
1  b'23'    b'1'        1.0         1.0  2017.0        NaN       NaN     NaN
2  b'10'    b'1'        1.0         1.0  2017.0        1.0       1.0     NaN
3  b'08'    b'1'        2.0         1.0  2017.0        NaN       1.0     1.0
4  b'08'    b'1'        2.0         1.0  2017.0        NaN       1.0     1.0

         HHIDS          FWH  ...  C_K2Q16  C_K2Q17  C_K2Q18  C_K2Q19  C_K2Q20  \
0  b'17000001'  4444.214265  ...      2.0      NaN      NaN      2.0      NaN
1  b'17000002'   216.289147  ...      2.0      NaN      NaN      2.0      NaN
2  b'17000003'   171.137081  ...      2.0      NaN      NaN      2.0      NaN
3  b'17000004'   970.596831  ...      2.0      NaN      NaN      2.0      NaN
4  b'17000004'   970.596831  ...      1.0      2.0      NaN      2.0      NaN

   C_K2Q21  C_K2Q22  C_K2Q23  C_CSHCN        C_FWS
0      NaN      2.0      NaN      2.0  5553.852984
1      NaN      2.0      NaN      2.0   273.395019
2      NaN      2.0      NaN      2.0   224.056321
3      NaN      2.0      NaN      2.0   997.253638
4      NaN      2.0      NaN      2.0   997.253638

[5 rows x 38 columns]

In [25]:
path2018 = "../../../Raw Data/nsch_2018_screener_SAS/nsch_2018e_screener.sas7bdat"
df2018 = pd.read_sas(path2018, format="sas7bdat")

print(df2018.head())

  FIPSST STRATUM  TOTKIDS_R  TENURE  HHLANGUAGE    YEAR  CBSAFP_YN  METRO_YN  \
0  b'24'    b'1'        2.0     1.0         2.0  2018.0        NaN       NaN
1  b'24'    b'1'        2.0     1.0         2.0  2018.0        NaN       NaN
2  b'22'    b'1'        1.0     1.0         1.0  2018.0        NaN       1.0
3  b'17'    b'1'        3.0     1.0         1.0  2018.0        2.0       2.0
4  b'17'    b'1'        3.0     1.0         1.0  2018.0        2.0       2.0

   MPC_YN  TENURE_IF  ... C_K2Q16  C_K2Q17  C_K2Q18  C_K2Q19  C_K2Q20  \
0     NaN        0.0  ...     2.0      NaN      NaN      2.0      NaN
1     NaN        0.0  ...     2.0      NaN      NaN      2.0      NaN
2     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
3     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
4     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN

   C_K2Q21  C_K2Q22  C_K2Q23  C_CSHCN        C_FWS
0      NaN      2.0      NaN      2.0  1345.436753
1      NaN      2.0      NaN      2.0  1352.653245
2      NaN      2.0      NaN      2.0   511.149302
3      NaN      2.0      NaN      2.0  1577.343183
4      NaN      1.0      1.0      1.0  1411.853601

[5 rows x 40 columns]

In [26]:
path2019 = "../../../Raw Data/nsch_2019_screener_SAS/nsch_2019e_screener.sas7bdat"
df2019 = pd.read_sas(path2019, format="sas7bdat")

print(df2019.head())

  FIPSST STRATUM  TOTKIDS_R  TENURE  HHLANGUAGE    YEAR  CBSAFP_YN  METRO_YN  \
0  b'12'    b'1'        2.0     1.0         1.0  2019.0        NaN       1.0
1  b'12'    b'1'        2.0     1.0         1.0  2019.0        NaN       1.0
2  b'05'   b'2A'        2.0     1.0         1.0  2019.0        1.0       1.0
3  b'05'   b'2A'        2.0     1.0         1.0  2019.0        1.0       1.0
4  b'54'    b'1'        2.0     2.0         1.0  2019.0        NaN       NaN

   MPC_YN  TENURE_IF  ... C_K2Q16  C_K2Q17  C_K2Q18  C_K2Q19  C_K2Q20  \
0     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
1     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
2     1.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
3     1.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
4     NaN        0.0  ...     2.0      NaN      NaN      2.0      NaN

   C_K2Q21  C_K2Q22  C_K2Q23  C_CSHCN        C_FWS
0      NaN      2.0      NaN      2.0  3885.226800
1      NaN      2.0      NaN      2.0  3885.226800
2      NaN      2.0      NaN      2.0   995.689058
3      NaN      2.0      NaN      2.0  1009.795272
4      NaN      2.0      NaN      1.0   197.201056

[5 rows x 40 columns]

In [27]:
path2020 = "../../../Raw Data/nsch_2020_screener_SAS/nsch_2020e_screener.sas7bdat"
df2020 = pd.read_sas(path2020, format="sas7bdat")

print(df2020.head())

  FIPSST STRATUM  TOTKIDS_R  TENURE  HHLANGUAGE    YEAR  CBSAFP_YN  METRO_YN  \
0  b'55'    b'1'        4.0     1.0         1.0  2020.0        1.0       2.0
1  b'55'    b'1'        4.0     1.0         1.0  2020.0        1.0       2.0
2  b'55'    b'1'        4.0     1.0         1.0  2020.0        1.0       2.0
3  b'55'    b'1'        4.0     1.0         1.0  2020.0        1.0       2.0
4  b'09'    b'1'        2.0     1.0         1.0  2020.0        1.0       NaN

   MPC_YN  TENURE_IF  ... C_K2Q16  C_K2Q17  C_K2Q18  C_K2Q19  C_K2Q20  \
0     2.0        0.0  ...     1.0      1.0      2.0      1.0      1.0
1     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
2     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
3     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
4     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN

   C_K2Q21  C_K2Q22  C_K2Q23  C_CSHCN       C_FWS
0      2.0      2.0      NaN      2.0  266.116898
1      NaN      2.0      NaN      2.0  266.116898
2      NaN      2.0      NaN      2.0  266.116898
3      NaN      2.0      NaN      2.0  268.487018
4      NaN      2.0      NaN      2.0  581.430072

[5 rows x 40 columns]

In [28]:
path2021 = "../../../Raw Data/nsch_2021_screener_SAS/nsch_2021e_screener.sas7bdat"
df2021 = pd.read_sas(path2021, format="sas7bdat")

print(df2021.head())

  FIPSST STRATUM  TOTKIDS_R  TENURE  HHLANGUAGE    YEAR  CBSAFP_YN  METRO_YN  \
0  b'56'    b'1'        2.0     1.0         1.0  2021.0        NaN       NaN
1  b'56'    b'1'        2.0     1.0         1.0  2021.0        NaN       NaN
2  b'54'    b'1'        2.0     1.0         1.0  2021.0        2.0       2.0
3  b'54'    b'1'        2.0     1.0         1.0  2021.0        2.0       2.0
4  b'41'    b'1'        1.0     1.0         1.0  2021.0        NaN       1.0

   MPC_YN  TENURE_IF  ... C_K2Q16  C_K2Q17  C_K2Q18  C_K2Q19  C_K2Q20  \
0     NaN        0.0  ...     1.0      1.0      1.0      1.0      1.0
1     NaN        0.0  ...     2.0      NaN      NaN      2.0      NaN
2     NaN        0.0  ...     2.0      NaN      NaN      2.0      NaN
3     NaN        0.0  ...     2.0      NaN      NaN      2.0      NaN
4     1.0        0.0  ...     2.0      NaN      NaN      2.0      NaN

   C_K2Q21  C_K2Q22  C_K2Q23  C_CSHCN       C_FWS
0      1.0      1.0      1.0      1.0  113.500517
1      NaN      2.0      NaN      2.0   80.461235
2      NaN      2.0      NaN      2.0   92.525425
3      NaN      2.0      NaN      2.0  101.262601
4      NaN      2.0      NaN      2.0  311.904927

[5 rows x 40 columns]

In [29]:
path2022 = "../../../Raw Data/nsch_2022_screener_SAS/nsch_2022e_screener.sas7bdat"
df2022 = pd.read_sas(path2022, format="sas7bdat")

print(df2022.head())

  FIPSST STRATUM  TOTKIDS_R  TENURE  HHLANGUAGE    YEAR  CBSAFP_YN  METRO_YN  \
0  b'34'    b'1'        2.0     1.0         1.0  2022.0        1.0       1.0
1  b'34'    b'1'        2.0     1.0         1.0  2022.0        1.0       1.0
2  b'44'    b'1'        1.0     3.0         1.0  2022.0        1.0       1.0
3  b'09'    b'1'        2.0     1.0         1.0  2022.0        1.0       1.0
4  b'09'    b'1'        2.0     1.0         1.0  2022.0        1.0       1.0

   MPC_YN  TENURE_IF  ... C_K2Q16  C_K2Q17  C_K2Q18  C_K2Q19  C_K2Q20  \
0     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
1     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
2     2.0        0.0  ...     2.0      NaN      NaN      1.0      2.0
3     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
4     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN

   C_K2Q21  C_K2Q22  C_K2Q23  C_CSHCN       C_FWS
0      NaN      2.0      NaN      2.0  532.752306
1      NaN      2.0      NaN      2.0  470.281997
2      NaN      2.0      NaN      2.0   68.494770
3      NaN      2.0      NaN      2.0  178.486313
4      NaN      2.0      NaN      2.0  178.486313

[5 rows x 38 columns]

In [30]:
path2023 = "../../../Raw Data/nsch_2023e_screener_SAS/nsch_2023e_screener.sas7bdat"
df2023 = pd.read_sas(path2023, format="sas7bdat")

print(df2023.head())

  FIPSST STRATUM  TOTKIDS_R  TENURE  HHLANGUAGE    YEAR  CBSAFP_YN  METRO_YN  \
0  b'28'    b'1'        3.0     1.0         1.0  2023.0        2.0       2.0
1  b'28'    b'1'        3.0     1.0         1.0  2023.0        2.0       2.0
2  b'28'    b'1'        3.0     1.0         1.0  2023.0        2.0       2.0
3  b'01'    b'1'        2.0     1.0         1.0  2023.0        1.0       1.0
4  b'01'    b'1'        2.0     1.0         1.0  2023.0        1.0       1.0

   MPC_YN  TENURE_IF  ... C_K2Q16  C_K2Q17  C_K2Q18  C_K2Q19  C_K2Q20  \
0     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
1     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
2     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
3     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN
4     2.0        0.0  ...     2.0      NaN      NaN      2.0      NaN

   C_K2Q21  C_K2Q22  C_K2Q23  C_CSHCN       C_FWS
0      NaN      2.0      NaN      2.0  186.985073
1      NaN      2.0      NaN      2.0  162.893322
2      NaN      2.0      NaN      2.0  162.893322
3      NaN      2.0      NaN      2.0  264.080425
4      NaN      2.0      NaN      2.0  264.080425

[5 rows x 38 columns]

## Combining Data into a Single csv

In [31]:
## Combining all of the datat into a single df to run all of them at once since the code dictionsary is the same for all

df = pd.concat([df2016, df2017, df2018, df2019, df2020, df2021, df2022, df2023], ignore_index=True)

def extract_labels(codebook_file):
    labels_dict = {}
    with open(codebook_file, 'r') as f:
        codebook_text = f.read()
    
    label_pattern = re.compile(r'(\w+)\s*=\s*"(.+?)"')
    
    for match in label_pattern.finditer(codebook_text):
        var_name = match.group(1)
        var_label = match.group(2)
        labels_dict[var_name] = var_label
    
    return labels_dict

labels = extract_labels(code_dictionary)

df_renamed = df.rename(columns=labels)

print(df_renamed.head())

  Unique Household ID (Screener)  Child Speak English Sampling Stratum  \
0                    b'16000001'                  1.0             b'1'
1                    b'16000002'                  NaN             b'2'
2                    b'16000003'                  1.0             b'1'
3                    b'16000003'                  1.0             b'1'
4                    b'16000003'                  1.0             b'1'

   Household Weight State FIPS Code  Number of Children in Household  \
0        521.630828           b'34'                              1.0
1        610.067762           b'28'                              1.0
2        657.783409           b'17'                              3.0
3        657.783409           b'17'                              3.0
4        657.783409           b'17'                              3.0

   Primary Household Language  Core Based Statistical Area Status  \
0                         1.0                                 1.0
1                         1.0                                 1.0
2                         1.0                                 1.0
3                         1.0                                 1.0
4                         1.0                                 1.0

   Metropolitan Statistical Area Status  Metropolitan Principal City Status  \
0                                   1.0                                 2.0
1                                   2.0                                 NaN
2                                   1.0                                 2.0
3                                   1.0                                 2.0
4                                   1.0                                 2.0

   ...  Special Health Care Needs Status of Child  Child Weight  c_sex_if  \
0  ...                                        2.0    492.300350       NaN
1  ...                                        2.0    746.435097       NaN
2  ...                                        2.0    681.136084       NaN
3  ...                                        2.0    770.046205       NaN
4  ...                                        2.0    670.384971       NaN

   c_hispanic_r_if  c_race_r_if  Imputation Flag for C_RACE_R  \
0              NaN          NaN                           NaN
1              NaN          NaN                           NaN
2              NaN          NaN                           NaN
3              NaN          NaN                           NaN
4              NaN          NaN                           NaN

   Imputation Flag for C_HISPANIC_R  Imputation Flag for C_SEX  \
0                               NaN                        NaN
1                               NaN                        NaN
2                               NaN                        NaN
3                               NaN                        NaN
4                               NaN                        NaN

   The Conditions under Which Land or Buildings Are Held or Occupied  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   TENURE_IF
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

[5 rows x 43 columns]

In [32]:
# Function to extract value labels from codebook
def extract_value_labels(codebook_file):
    value_labels_dict = {}
    with open(codebook_file, 'r') as f:
        codebook_text = f.read()
    
    # Regular expression to match value labels
    value_pattern = re.compile(r'VALUE\s+(\w+)_LAB\s+(.+?);', re.DOTALL)
    
    for match in value_pattern.finditer(codebook_text):
        var_name = match.group(1)
        value_labels_text = match.group(2)
        
        # Extract individual value mappings
        value_dict = {}
        for value_match in re.finditer(r'(\S+)=\'(.+?)\'', value_labels_text):
            value = value_match.group(1)
            label = value_match.group(2)
            value_dict[value] = label
        
        value_labels_dict[var_name] = value_dict
    
    return value_labels_dict

# Extract value labels from the codebook
value_labels = extract_value_labels(code_dictionary)

# Apply value labels to respective columns
for var, mapping in value_labels.items():
    if var in df_renamed.columns:
        df_renamed[var] = df_renamed[var].map(mapping)

# Check the updated DataFrame with value labels applied
print(df_renamed.head())

  Unique Household ID (Screener)  Child Speak English Sampling Stratum  \
0                    b'16000001'                  1.0             b'1'
1                    b'16000002'                  NaN             b'2'
2                    b'16000003'                  1.0             b'1'
3                    b'16000003'                  1.0             b'1'
4                    b'16000003'                  1.0             b'1'

   Household Weight State FIPS Code  Number of Children in Household  \
0        521.630828           b'34'                              1.0
1        610.067762           b'28'                              1.0
2        657.783409           b'17'                              3.0
3        657.783409           b'17'                              3.0
4        657.783409           b'17'                              3.0

   Primary Household Language  Core Based Statistical Area Status  \
0                         1.0                                 1.0
1                         1.0                                 1.0
2                         1.0                                 1.0
3                         1.0                                 1.0
4                         1.0                                 1.0

   Metropolitan Statistical Area Status  Metropolitan Principal City Status  \
0                                   1.0                                 2.0
1                                   2.0                                 NaN
2                                   1.0                                 2.0
3                                   1.0                                 2.0
4                                   1.0                                 2.0

   ...  Special Health Care Needs Status of Child  Child Weight  c_sex_if  \
0  ...                                        2.0    492.300350       NaN
1  ...                                        2.0    746.435097       NaN
2  ...                                        2.0    681.136084       NaN
3  ...                                        2.0    770.046205       NaN
4  ...                                        2.0    670.384971       NaN

   c_hispanic_r_if  c_race_r_if  Imputation Flag for C_RACE_R  \
0              NaN          NaN                           NaN
1              NaN          NaN                           NaN
2              NaN          NaN                           NaN
3              NaN          NaN                           NaN
4              NaN          NaN                           NaN

   Imputation Flag for C_HISPANIC_R  Imputation Flag for C_SEX  \
0                               NaN                        NaN
1                               NaN                        NaN
2                               NaN                        NaN
3                               NaN                        NaN
4                               NaN                        NaN

   The Conditions under Which Land or Buildings Are Held or Occupied  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

   TENURE_IF
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

[5 rows x 43 columns]

In [33]:
selected_columns = [
    'YEAR',      # Survey Year
    'C_CSHCN',   # Special Healthcare Needs
    'C_K2Q23',   # Child Treatment for Chronic Emotion Develop Behave
    'C_K2Q22',   # Child Needs Treatment for Emotional Develop Behave
    'C_K2Q21',   # Child Special Therapy for Health Condition for 12 Months
    'C_K2Q20',   # Child Specal Therapy for Health Condition
    'C_K2Q19',   # Child Special Therapy
    'C_SEX',     # Child Sex
    'C_AGE_YEARS'  #Child Age - Years
]

df_filtered = df[selected_columns]

df_cleaned = df_filtered.dropna()  # Or use df_filtered.fillna() to replace missing values

print(df_cleaned.head())

grouped_by_sex = df_cleaned.groupby('C_SEX').size()

print(grouped_by_sex)

       YEAR  C_CSHCN  C_K2Q23  C_K2Q22  C_K2Q21  C_K2Q20  C_K2Q19  C_SEX  \
13   2016.0      1.0      1.0      1.0      1.0      1.0      1.0    2.0
35   2016.0      1.0      1.0      1.0      1.0      1.0      1.0    1.0
81   2016.0      1.0      1.0      1.0      1.0      1.0      1.0    2.0
128  2016.0      1.0      1.0      1.0      1.0      1.0      1.0    1.0
256  2016.0      1.0      1.0      1.0      1.0      1.0      1.0    2.0

     C_AGE_YEARS
13           1.0
35          15.0
81          16.0
128         10.0
256          8.0
C_SEX
1.0    20977
2.0    10779
dtype: int64

In [36]:
column_mapping = {
    'YEAR':'Survey Year',
    'C_CSHCN': 'Special Health Care Needs Status of Child',
    'C_K2Q23': 'Child Treatment for Chronic Emotion Develop Behave',
    'C_K2Q22': 'Child Needs Treatment for Emotion Develop Behave',
    'C_K2Q21': 'Child Special Therapy for Health Condition for 12 Months',
    'C_K2Q20': 'Child Special Therapy for Health Condition',
    'C_K2Q19': 'Child Special Therapy',
    'C_SEX': 'Child Sex',
    'C_AGE_YEARS': 'Child Age - Years'
}

df_cleaned.rename(columns=column_mapping, inplace=True)

value_mappings = {
    'Special Health Care Needs Status of Child': {1: 'Special Health Care Needs', 2: 'No Special Health Care Needs'},
    'Child Treatment for Chronic Emotion Develop Behave': {1: 'Yes', 2: 'No'},
    'Child Needs Treatment for Emotion Develop Behave': {1: 'Yes', 2: 'No'},
    'Child Special Therapy for Health Condition for 12 Months': {1: 'Yes', 2: 'No'},
    'Child Special Therapy for Health Condition': {1: 'Yes', 2: 'No'},
    'Child Special Therapy': {1: 'Yes', 2: 'No'},
    'Child Sex': {1: 'Male', 2: 'Female'},
}

for column, mapping in value_mappings.items():
    df_cleaned[column].replace(mapping, inplace=True)

df_cleaned['Survey Year'] = df_cleaned['Survey Year'].astype(int)
df_cleaned['Childs Age - Years'] = df_cleaned['Child Age - Years'].astype(int)

print(df_cleaned.head())
df_cleaned.to_csv("../../../Cleaned Data/filteredNSCH.csv", index=False)

     Survey Year Special Health Care Needs Status of Child  \
13          2016                 Special Health Care Needs
35          2016                 Special Health Care Needs
81          2016                 Special Health Care Needs
128         2016                 Special Health Care Needs
256         2016                 Special Health Care Needs

    Child Treatment for Chronic Emotion Develop Behave  \
13                                                 Yes
35                                                 Yes
81                                                 Yes
128                                                Yes
256                                                Yes

    Child Needs Treatment for Emotion Develop Behave  \
13                                               Yes
35                                               Yes
81                                               Yes
128                                              Yes
256                                              Yes

    Child Special Therapy for Health Condition for 12 Months  \
13                                                 Yes
35                                                 Yes
81                                                 Yes
128                                                Yes
256                                                Yes

    Child Special Therapy for Health Condition Child Special Therapy  \
13                                         Yes                   Yes
35                                         Yes                   Yes
81                                         Yes                   Yes
128                                        Yes                   Yes
256                                        Yes                   Yes

    Child Sex  Child Age - Years  Childs Age - Years
13     Female                1.0                   1
35       Male               15.0                  15
81     Female               16.0                  16
128      Male               10.0                  10
256    Female                8.0                   8

/var/folders/m9/nwvp3yqj5f76trygypnkypv80000gp/T/ipykernel_4250/77689711.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.rename(columns=column_mapping, inplace=True)
/var/folders/m9/nwvp3yqj5f76trygypnkypv80000gp/T/ipykernel_4250/77689711.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned[column].replace(mapping, inplace=True)
/var/folders/m9/nwvp3yqj5f76trygypnkypv80000gp/T/ipykernel_4250/77689711.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[column].replace(mapping, inplace=True)
/var/folders/m9/nwvp3yqj5f76trygypnkypv80000gp/T/ipykernel_4250/77689711.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Survey Year'] = df_cleaned['Survey Year'].astype(int)
/var/folders/m9/nwvp3yqj5f76trygypnkypv80000gp/T/ipykernel_4250/77689711.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Childs Age - Years'] = df_cleaned['Child Age - Years'].astype(int)